*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
}
body{
    background: #18181c;
    color: #cfcccc;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/* Query Results */
.result-item {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

/* Dark theme input fields */
.form-control {
    background-color: #000000; 
    color: #cfcccc;
    border: 1px solid #1b1b1b; 
}

.form-control:focus {
    background-color: #2e1e36;
    border-color: #000000;
    box-shadow: 0 0 8px rgba(143, 105, 176, 0.5);
}

select.form-control option {
    background-color: #131213;
    color: #ebe3eb;
}

/* Custom button styling */
.btn-primary {
    background-color: #53176b !important; 
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #7f1d86 !important;
}

/* Style for the logo */
.navbar-brand img {
    width: 50px;
    height: auto;
}

.bg-black {
    background-color: #000000;
}